@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

$red: #EE6352;
$green: #59CD90;
$blue: #3FA7D6;
$yellow: #FAC05E;
$orange: #F79D84;
$purple: rgb(123, 36, 229);
$black: #02010A;
$grey: #041B15;
$white: #f9fff8;

html, body {
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;

    * {
        box-sizing: border-box;
        // border: 1px solid red;
    }

    text-rendering: optimizeLegibility;
    font-family: 'Didact Gothic', sans-serif;

    color: $black;
    background-color: $white;
}

a {
    text-decoration: none;
    color: unset;
}

div#info {
    background-color: rgb(123, 36, 229);
    color: $white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #hero-img {
        margin-top: 96px;
        border-radius: 5px;
        height: 480px;
        max-width: 90vw;

        @media screen and (max-width: 720px) {
            margin-top: 24px;
            height: 240px;
        }
    }

    #hero {
        font-size: 5rem;
        padding: 32px 32px 0px 32px;
        text-align: center;
        line-height: 3rem;

        @media screen and (max-width: 720px) {
            font-size: 3rem;
            padding: 24px 24px 0px 24px;
        }
    }

    #hero-sub {
        padding: 20px 0px 64px 0px;
        text-align: center;
    }

    padding: 12px 12px 12px 12px;
}

div#activities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 24px 32px 64px 32px;
    
        min-width: 40vw;
    }
}

div#social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    a {
        padding-left: 6px;
        padding-right: 6px;

        color: lighten($purple, 10%);

        svg {
            height: 20px;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px 12px 128px 12px;

    text-align: center;

    .copyright {
        margin-top: 12px;
        opacity: 0.65;
        font-size: 11px;
    }
}