@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@-webkit-keyframes arrow-oscillate {
  0%, 100% {
    bottom: 17vh;
  }
  50% {
    bottom: 16vh;
  }
}
@keyframes arrow-oscillate {
  0%, 100% {
    bottom: 17vh;
  }
  50% {
    bottom: 16vh;
  }
}

html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-family: 'Didact Gothic', sans-serif;
  color: #303030;
  background-color: white;
}

html *, body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.profile {
  width: 100vw;
  min-height: 85vh;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile .image-wrapper {
  border-radius: 50%;
  width: 320px;
  max-width: 100%;
  -webkit-box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.12);
}

.profile .image-wrapper .image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile .description-wrapper {
  text-align: center;
}

.profile .description-wrapper .name {
  font-size: 3rem;
  font-weight: 650;
}

.profile .description-wrapper a[href="#projects"] {
  color: #fcfcfc;
  padding: 4px;
  background-color: cornflowerblue;
  border-radius: 6px;
}

.profile .projects-arrow-wrapper {
  position: absolute;
  bottom: -15vh;
  left: calc(50vw - 48px);
  -webkit-animation: arrow-oscillate 1s ease-in-out infinite;
          animation: arrow-oscillate 1s ease-in-out infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile .projects-arrow-wrapper .arrow-down {
  max-width: 32px;
}

#projects {
  width: 100vw;
  background-color: darkcyan;
  padding: 32px 96px;
}

@media screen and (max-width: 500px) {
  #projects {
    padding: 32px 32px;
  }
}

#projects .project .text {
  color: #fefefe;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .project .text .title {
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
  border-bottom: 2px solid #fefefe;
  margin-bottom: 4px;
  text-decoration: none;
}

#projects .project .text .title:visited {
  color: #fefefe;
}

#projects .project .text .description {
  font-weight: 350;
  font-size: 1.2rem;
  text-align: justify;
}

#footer {
  padding: 96px 128px 24px 128px;
  color: #fefefe;
  width: 100vw;
  background-color: #004b4b;
}

@media screen and (max-width: 500px) {
  #footer {
    padding: 60px 32px 24px 32px;
  }
}

#footer a, #footer a:visited {
  color: #fefefe;
}

#footer .copyright {
  text-align: center;
  font-size: 12px;
  padding: 128px 0 24px 0;
}

@media screen and (max-width: 500px) {
  #footer .copyright {
    padding: 48px 0 24px 0;
  }
}
/*# sourceMappingURL=index.css.map */