@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

$red: #EE6352;
$green: #59CD90;
$blue: #3FA7D6;
$yellow: #FAC05E;
$orange: #F79D84;
$purple: #A14EBF;
$black: #02010A;
$grey: #041B15;
$white: #f9fff8;

@keyframes arrow-oscillate {
    0%, 100% {
      bottom: 17vh;
    }
    50% {
      bottom: 16vh;
    }
  }

html, body {
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;

    * {
        box-sizing: border-box;
        // border: 1px solid red;
    }

    text-rendering: optimizeLegibility;
    font-family: 'Didact Gothic', sans-serif;

    color: $black;
    background-color: $white;
}

nav {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;           
    }

    a {
        padding: 28px 12px;

        font-size: 20px;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        color: $white;

        &.home {
            font-size: 32px;
            color: $black;
            background-color: $white; border-bottom: 4px solid darken(#ffffff, 20%);
        }

        &.section {            
            &:nth-child(2) { background-color: $red; border-bottom: 4px solid darken($red, 20%); }
            &:nth-child(3) { background-color: $green; border-bottom: 4px solid darken($green, 20%); }
            &:nth-child(4) { background-color: $blue; border-bottom: 4px solid darken($blue, 20%); }
            &:nth-child(5) { background-color: $purple; border-bottom: 4px solid darken($purple, 20%); }
            &:nth-child(6) { background-color: $yellow; border-bottom: 4px solid darken($yellow, 20%); }

            @media screen and (max-width: 900px) {
                display: none;                
            }
        }
    }
}

div#profile {
    width: 100%;
    height: 65vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
        // clip-path: polygon(95% 0, 100% 95%, 5% 100%, 0 5%);

        height: 40vh;
        border-radius: 3px;

        margin-left: 1vw;
        margin-right: 1vw;
        
        @media screen and (max-width: 900px) {    
            &:nth-child(2) { display: none; }
            &:nth-child(3) { display: none; }
            &:nth-child(4) { display: none; }
        }
        @media screen and (max-width: 1200px) {    
            &:nth-child(2) { display: none; }
            &:nth-child(3) { display: none; }
        }
        @media screen and (max-width: 1540px) {    
            &:nth-child(2) { display: none; }
        }
    }
}

a {
    text-decoration: none;
    color: unset;
}

div#info {
    background-color: lighten($purple, 35%);
    color: $white;
    margin-bottom: 32px;

    min-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 72px), 50% 100%, 0% calc(100% - 72px), 0% 0%);

    div {
        color: $grey;

        #hello {
            font-size: 100px;
            text-align: center;
            padding: 12px;
            margin: 0;
            margin-top: 96px;
            margin-bottom: 102px;

            .highlight {
                font-weight: 600;
                color: lighten($purple, 8%);
                word-wrap: break-word;
            }
        }
    
        #desc {
            font-size: 24px;
            text-align: center;
    
            .highlight {
                font-weight: 600;
                color: lighten($purple, 8%);
                word-wrap: break-word;
            }
        }
    }    
}

div#solutions {
    padding: 12px;

    display: grid;
    
    grid-template-columns: 1fr;

    @media screen and (min-width: 900px) {
        grid-template-columns: 1fr 1fr;
    }

    .solution {
        margin: 10px;
        border-radius: 3px;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
        color: $white;
        padding-bottom: 10px;

        &:nth-child(1) { background-color: $red; border-bottom: 4px solid darken($red, 20%); }
        &:nth-child(2) { background-color: $green; border-bottom: 4px solid darken($green, 20%); }
        &:nth-child(3) { background-color: $blue; border-bottom: 4px solid darken($blue, 20%); }
        &:nth-child(4) { background-color: $purple; border-bottom: 4px solid darken($purple, 20%); }
        &:nth-child(5) { background-color: $yellow; border-bottom: 4px solid darken($yellow, 20%); }

        .title {
            font-size: 2.2rem;
            padding: 12px 20px;
        }

        .desc {
            padding: 12px 20px;
            font-size: 22px;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px 12px 128px 12px;

    text-align: center;

    .copyright {
        margin-top: 12px;
        opacity: 0.65;
        font-size: 11px;
    }
}