@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

@keyframes arrow-oscillate {
    0%, 100% {
      bottom: 17vh;
    }
    50% {
      bottom: 16vh;
    }
  }

html, body {
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;

    * {
        box-sizing: border-box;
        // border: 1px solid red;
    }

    text-rendering: optimizeLegibility;
    font-family: 'Didact Gothic', sans-serif;

    color: #303030;
    background-color: white;
}

.profile {
    width: 100vw;
    min-height: 85vh;

    padding: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .image-wrapper {
        border-radius: 50%;
        width: 320px;
        height: 320px;
        box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.12);

        .image {
            width: 100%;
            height: 100%;

            border-radius: 50%;
        }
    }

    .description-wrapper {
        text-align: center;

        .name {
            font-size: 3rem;
            font-weight: 650;
        }

        .sub {}

        a[href="#projects"] {
            color: #fcfcfc;
            padding: 4px;
            background-color: cornflowerblue;
            border-radius: 6px;
        }
    }

    .projects-arrow-wrapper {  
        position: absolute;
        bottom: -15vh;
        left: calc(50vw - 48px);

        animation: arrow-oscillate 1s ease-in-out infinite;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .arrow-down {
            max-width: 32px;
        }
    }
}

#projects {
    width: 100vw;
    background-color: darkcyan;

    padding: 32px 96px;

    .project {
        .text {
            color: #fefefe;
            padding: 12px;

            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            .title {
                font-weight: 600;
                font-size: 2rem;
                text-align: left;

                border-bottom: 2px solid #fefefe;
                margin-bottom: 4px;

                text-decoration: none;

                &:visited {
                    color: #fefefe;
                }
            }

            .description {
                font-weight: 350;
                font-size: 1.2rem;
                text-align: justify;
            }
        }
    }
}

#footer {
    padding: 96px 128px 24px 128px;

    color: #fefefe;

    width: 100vw;
    background-color: darken(darkcyan, 12.5%);

    a, a:visited {
        color: #fefefe;
    }

    .copyright {
        text-align: center;
        font-size: 12px;

        padding: 128px 0 24px 0;
    }
}